@use 'src/defaults' as *;

.button_container {
}

.base__outlined {
    &__background {
        background-color: $ink-transparent;
    }

    &__text {
        background-color: $ink-transparent;
    }
}

.base__filled {
    &__background {
    }

    &__text {
        mix-blend-mode: color-burn;
    }
}

.primary {
    &__filled {
        &__background {
            @extend .base__filled__background;
            background-color: $ink-blue-main;
        }

        &__text {
            @extend .base__filled__text;
            mix-blend-mode: color-burn;
        }
    }

    &__outlined {
        &__background {
            @extend .base__outlined__background;
            border: 2px solid $ink-blue-main;
        }

        &__text {
            @extend .base__outlined__text;
            color: $ink-blue-main;
        }
    }
}

.secondary {
    &__filled {
        &__background {
            background-color: $ink-blue-main;
        }

        &__text {
        }
    }

    &__outlined {
        &__background {
            @extend .base__outlined__background;
            border: 2px solid $ink-turquoise-green-main;
        }

        &__text {
            @extend .base__outlined__text;
            color: $ink-turquoise-green-main;
        }
    }
}
