$ink-transparent: rgba(0, 0, 0, 0);

$ink-grey-dark: #141419;
$ink-grey-medium: #1d1d1f;
$ink-grey-light: #3e3e3e;

$ink-grey-lightest: #e3e3e3;

$ink-blue-main: #18a5ec;

$ink-turquoise-blue-main: #15e4d8;
$ink-turquoise-green-main: #10e094;

$ink-purple-main: #4467f3;
$ink-orange-main: #ee9b12;

$ink-red-main: #e02c2a;

$ink-global-radius: 4px;

$ink-font-family-base: 'JetBrains Mono', monospace;
$ink-font-family-desc: 'Dank Mono', monospace;

html {
    color: $ink-grey-lightest;
    font-size: 14px;

    h1 {
        font-family: $ink-font-family-base;
        font-size: 4em;
        font-weight: 800;
    }

    p {
        font-family: $ink-font-family-desc;
        font-size: 1.5rem;
    }
}
