* {
    margin: 0;
    padding: 0;
}

:root {
    --ink-grey-dark: #141419;
    --ink-grey-medium: #1d1d1f;
    --ink-grey-light: #3e3e3e;

    --ink-grey-lightest: #e3e3e3;

    --ink-blue-main: #18a5ec;

    --ink-turquoise-blue-main: #15e4d8;
    --ink-turquoise-green-main: #10e094;

    --ink-purple-main: #4467f3;
    --ink-orange-main: #ee9b12;

    --ink-red-main: #e02c2a;

    --ink-global-radius: 4px;

    /* TODO: Add font fallbacks. */
    --ink-font-family-base: 'JetBrains Mono', monospace;
    --ink-font-family-desc: 'Dank Mono', monospace;
}

/*

html {
    color: $ink-grey-lightest;
    font-size: 14px;

    h1 {
        font-family: $ink-font-family-base;
        font-size: 4em;
        font-weight: 800;
    }

    p {
        font-family: $ink-font-family-desc;
        font-size: 1.5rem;
    }
}

 */

.page-container {
    overflow-x: hidden;
    min-height: 100vh;
}

/* TODO: Set up custom scrollbar. */
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: var(--ink-grey-light);
}

::-webkit-scrollbar-thumb {
    background-color: var(--ink-grey-lightest);

    border-radius: 1em;
}

/* TODO: Add light theme config. */
html[data-theme='light'] {
}
